DISCORD_TOKEN=your_bot_token_here
GUILD_ID=your_guild_id_here
MONGO_URI=your_mongo_uri_here
MONGO_DB_NAME=foundry
DEBUG_MODE=false
STAFF_ROLE_ID=your_staff_role_id_here
SENIOR_STAFF_ROLE_ID=your_senior_staff_role_id_here
OWNER_ROLE_ID=your_owner_role_id_here
